


@font-face {
    font-family: 'nds12regular';
    src: url('nds-webfont.eot');
    src: url('nds-webfont.eot?#iefix') format('embedded-opentype'),
         url('nds-webfont.woff') format('woff'),
         url('nds-webfont.ttf') format('truetype'),
         url('nds-webfont.svg#nds12regular') format('svg');
    font-weight: normal;
    font-style: normal;

}